<h1>todos#edit</h1>

<%= form_with(model:@todo, local:true) do |f| %>
	<%= f.label :Description %>
	<%= f.text_field :description %>
	<%= f.label :Complete %>
	<%= f.text_field :completed %>
	<%= f.submit "Save" %>
<% end %>