<h1>todos#index</h1>


	<% @todo.each do |i| %>
		<div class="well">
		<%= i.description %>
		<%= i.completed %>
		<%= link_to 'Mostrar', i, method: :get %>
		<%= link_to 'Editar', i, method: :patch %>
		<%= link_to 'Completar', i, method: :get %>
		<%= link_to 'Borrar', i, method: :delete %>
		</div>
	<% end %>

	<%= link_to 'Create', todos_new_path %>
